@import "../../Scss/Variables/colors.scss";

.input-dialog-container {
  position: fixed;
  top: 25%;
  left: 30%;
  height: 380px;
  width: 370px;
  background-color: #ffff;
  box-shadow: 2px 2px 2px 2px $greyColor;
  border-radius: 5px;

  .input-dialog-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

    .input-dialog-cross-icon {
      cursor: pointer;
    }
  }

  .dialog-inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  .input-dialog-dropdown {
    padding: 10px;
    padding-left: 15px;
  }
}
