@import "../../Scss/Variables/colors.scss";

.updated_successfully {
  top: 50%;
  left: 50%;
  width: 100%;
  border: none;
  margin: 0 auto;
  max-width: 382px;
  max-height: 186px;
  border-radius: 10px;
  box-shadow: none !important;
  padding-right: 0 !important;
  transform: translate(-50%, -50%);
  & > div {
    margin: 0;
    max-width: none;
    & > div {
      border: none;
    }
  }
  .card_header {
    display: block;
    margin-top: 10px;
    border-bottom: none;
    .card_heading {
      text-align: center;
      font-size: 18px;
      line-height: 27px;
      font-weight: 600;
      font-family: Poppins;
      color: #092140;
      opacity: 1;
    }
  }
  .offer-reward-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: -20px;
    margin-bottom: 22px;
  
    .create-offer-type,
    .create-reward-type {
      width: 154px;
      height: 77px;
      background: #ffffff;
      border: 1px solid #e2e2e2;
      border-radius: 5px;
      cursor: pointer;
    }
  
    .create-offer-type.active,
    .create-reward-type.active {
      height: 77px;
      width: 154px;
      text-align: center;
      background: #ed702e17;
      border: 1px solid $orangeColor;
      border-radius: 5px;
    }
  
    .create-offer-type,
    .create-reward-type {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  
    .offer-reward-type-title {
      text-align: center;
      font-weight: 500;
      font-size: 14px;
      font-family: Poppins;
      line-height: 21px;
      color: #0e1817;
      text-transform: uppercase;
      opacity: 1;
    }
  }
  .select-form-type-container {
    margin: 20px 17px;

    .select-form-text {
      text-align: left;
      font-size: 12px;
      line-height: 18px;
      font-weight: 600;
      color: #092140;
      font-family: Poppins;
    }

    .select-offer-reward-types {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .create-checkbox-style {
      padding: 10px;
      margin: 5px;
      width: 318px;
      height: 42px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background: #ffffff;
      border: 1px solid #e2e2e2;
      border-radius: 5px;
    }
    .create-checkbox-style.active {
      background: #fef2ec;
    }
    .create-checkbox-style span:nth-child(2) {
      flex: 1;
    }
  }
}

.offer-name {
  color: #0e1817;
  font-size: 12px;
  line-height: 54px;
  font-weight: 500;
  font-family: Poppins;
  padding: 5px;
}

.rounded-checkbox {
  appearance: none;
  border-radius: 50%;
  border: 1px solid #707070;
  width: 13px;
  height: 13px;
  margin-right: 10px;
  background: #e2e2e2;
  position: relative;
}

.rounded-checkbox.active {
  appearance: none;
  border-radius: 50%;
  background: #ed702e;
  border: 1px solid #ed702e;
  width: 15px;
  height: 15px;
  margin-right: 10px;
  position: relative;
}

.modal_height {
  max-height: 437px;
}
