$orangeColor: #ed702e;
$navbarColor: #0c2a50;
$greyColor: rgb(230, 234, 246);
$navyColor: rgb(9, 33, 64);
$requiredColor: #ff0000;
$darkBlueColor: #092140;
$lightBlueColor: #0c2a50;
$whiteColor: #ffffff;
$darkGreyColor: #697481;
$labelColor: #464a53;
$lightBlackColor: #101817;
$validationColor: #ff5274;
